name: armTemplateDeployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  armDeploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2 

      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS}}
      - name: Deploy Resource Group rg-gitHubActions
        uses: Azure/arm-deploy@v1
        with:
          scope: subscription
          subscriptionId: 874cbdc5-ba34-4a42-89bc-da0f025e4bbe
          region: Australia East
          template: ./arm-templates/resourcegroup.json
          parameters:
            location="Australia East"
            resourcegroupName=rg-gitHubActions
          deploymentName: rg-gitHubActions

      - name: Deploy Storage account
        uses: Azure/arm-deploy@v1
        id: storageAccountDeploy
        with:
          scope: resourcegroup
          resourcegroupName: rg-gitHubActions
          subscriptionId: 874cbdc5-ba34-4a42-89bc-da0f025e4bbe
          template: ./arm-templates/storageaccount.json
          parameters: 
            sku=Standard_LRS
            storageAccountName=shyammaggostg002
            location="Australia East"
          deploymentMode: incremental

      - run: echo ${{ steps.storageAccountDeploy.outputs.BlobUri }}
     